@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --gradient1:#807ECE;
    --gradient2:#8E7ECE;
    --primary-color: #2D2A37 ;
    --secondary-color:#462878;
    --secondary-button-color:#7F45E2;
    --text-color: #6B6B6B;
    --white:white;
  }
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Rubik", sans-serif;
}

body{
    background-image: linear-gradient(to bottom, var(--gradient1), var(--gradient2));
    color: var(--white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3em;
}
.cronometro{
    background-color: var(--primary-color);
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center ;
    border-radius: 10px;
    gap: 4em;
}
#timer{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    /* padding: 0.3rem; */
    margin-top: 2rem;
    text-decoration: underline ;
    color: var(--white);

}
.actions{
    width: 25vw;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}
button{
    width:2em;
    height:2em;
    font-size: 1.2em;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
}
button:active {
    transform: translateY(-3px); 
    box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.4); 
}
.marks{
    display: flex;
    flex-direction: column;
    margin: 1em;
    color: var(--text-color);
}